In [1]:
#import dependencies
import pandas as pd

In [2]:
# Read data from file 'filename.csv' 
led = pd.read_csv("Resources/Data/life_expectancy.csv") 
alc_con = pd.read_csv("Resources/Data/world_alcohol_consumption.csv")
happiness = pd.read_csv("Resources/Data/world_happiness_2020.csv")
# Preview the first 5 lines of the loaded data 
print(led.columns)
print(alc_con.columns)
print(happiness.columns)

Index(['Country', 'Year', 'Status', 'Lifeexpectancy', 'AdultMortality',
       'infantdeaths', 'Alcohol', 'percentageexpenditure', 'HepatitisB',
       'Measles', 'BMI', 'under-fivedeaths', 'Polio', 'Totalexpenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness1-19years',
       'thinness5-9years', 'Incomecompositionofresources', 'Schooling'],
      dtype='object')
Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol'],
      dtype='object')
Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [3]:
# Combine the data into a single dataset
led = led.loc[led['Year']==2015]
led['Country'].value_counts()

Congo           2
Algeria         1
Australia       1
Nigeria         1
Turkmenistan    1
               ..
Malawi          1
Jordan          1
Burkina Faso    1
Poland          1
Slovenia        1
Name: Country, Length: 182, dtype: int64

In [4]:
alc_con=alc_con.rename(columns={'country':'Country'})
happiness = happiness.rename(columns={'Country name': 'Country'})
happiness.head()

,Country,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [5]:
led = led.drop(columns=['Year'])
led.head()

,Country,Status,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,percentageexpenditure,HepatitisB,Measles,BMI,...,Polio,Totalexpenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness1-19years,thinness5-9years,Incomecompositionofresources,Schooling
0,Afghanistan,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
16,Albania,Developing,77.8,74.0,0,4.60,364.975229,99.0,0,58.0,...,99.0,6.00,99.0,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2
32,Algeria,Developing,75.6,19.0,21,NaN,0.000000,95.0,63,59.5,...,95.0,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
48,Angola,Developing,52.4,335.0,66,NaN,0.000000,64.0,118,23.3,...,7.0,NaN,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4
64,Antigua & Barbuda,Developing,76.4,13.0,0,NaN,0.000000,99.0,0,47.7,...,86.0,NaN,99.0,0.2,13566.954100,NaN,3.3,3.3,0.784,13.9

In [6]:
alc_con

,Country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [7]:
happiness
happiness_clean = happiness[["Country", "Regional indicator", "Ladder score", "Logged GDP per capita", "Social support", "Healthy life expectancy", "Freedom to make life choices", "Generosity", "Perceptions of corruption", "Ladder score in Dystopia"]]
happiness_clean

,Country,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia
0,Finland,Western Europe,7.8087,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317
1,Denmark,Western Europe,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317
2,Switzerland,Western Europe,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317
3,Iceland,Western Europe,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317
4,Norway,Western Europe,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317
...,...,...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,3.4759,6.625160,0.319460,45.200001,0.640881,0.082410,0.891807,1.972317
149,Rwanda,Sub-Saharan Africa,3.3123,7.600104,0.540835,61.098846,0.900589,0.055484,0.183541,1.972317
150,Zimbabwe,Sub-Saharan Africa,3.2992,7.865712,0.763093,55.617260,0.711458,-0.072064,0.810237,1.972317
151,South Sudan,Sub-Saharan Africa,2.8166,7.425360,0.553707,51.000000,0.451314,0.016519,0.763417,1.972317
152,Afghanistan,South Asia,2.5669,7.462861,0.470367,52.590000,0.396573,-0.096429,0.933687,1.972317

In [8]:
combined_df = pd.merge(alc_con,led, on="Country",how='outer')
combined_df

,Country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,Status,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,...,Polio,Totalexpenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness1-19years,thinness5-9years,Incomecompositionofresources,Schooling
0,Afghanistan,0.0,0.0,0.0,0.0,Developing,65.0,263.0,62.0,0.01,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Albania,89.0,132.0,54.0,4.9,Developing,77.8,74.0,0.0,4.60,...,99.0,6.00,99.0,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2
2,Algeria,25.0,0.0,14.0,0.7,Developing,75.6,19.0,21.0,NaN,...,95.0,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
3,Andorra,245.0,138.0,312.0,12.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,217.0,57.0,45.0,5.9,Developing,52.4,335.0,66.0,NaN,...,7.0,NaN,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Czechia,NaN,NaN,NaN,NaN,Developed,78.8,86.0,0.0,NaN,...,97.0,NaN,97.0,0.1,NaN,NaN,1.8,1.8,NaN,NaN
195,DemocraticPeople'sSouth Korea,NaN,NaN,NaN,NaN,Developing,76.0,139.0,6.0,NaN,...,99.0,NaN,96.0,0.1,NaN,NaN,4.9,4.9,NaN,NaN
196,South Sudan,NaN,NaN,NaN,NaN,Developing,57.3,332.0,26.0,NaN,...,41.0,NaN,31.0,3.4,758.725782,11882136.0,NaN,NaN,0.421,4.9
197,SriLanka,NaN,NaN,NaN,NaN,Developing,74.9,138.0,3.0,NaN,...,99.0,NaN,99.0,0.1,3844.891230,2966.0,15.1,15.0,0.764,14.0
198,VietNam,NaN,NaN,NaN,NaN,Developing,76.0,127.0,28.0,NaN,...,97.0,NaN,97.0,0.1,NaN,NaN,14.2,14.5,0.678,12.6

In [9]:
combined_data=pd.merge(combined_df,happiness_clean, on="Country",how='outer')
combined_data

,Country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,Status,Lifeexpectancy,AdultMortality,infantdeaths,Alcohol,...,Schooling,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia
0,Afghanistan,0.0,0.0,0.0,0.0,Developing,65.0,263.0,62.0,0.01,...,10.1,South Asia,2.5669,7.462861,0.470367,52.590000,0.396573,-0.096429,0.933687,1.972317
1,Albania,89.0,132.0,54.0,4.9,Developing,77.8,74.0,0.0,4.60,...,14.2,Central and Eastern Europe,4.8827,9.417931,0.671070,68.708138,0.781994,-0.042309,0.896304,1.972317
2,Algeria,25.0,0.0,14.0,0.7,Developing,75.6,19.0,21.0,NaN,...,14.4,Middle East and North Africa,5.0051,9.537965,0.803385,65.905174,0.466611,-0.121105,0.735485,1.972317
3,Andorra,245.0,138.0,312.0,12.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,217.0,57.0,45.0,5.9,Developing,52.4,335.0,66.0,NaN,...,11.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,Taiwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,East Asia,6.4554,10.775685,0.894309,69.599998,0.771530,-0.073199,0.731883,1.972317
203,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Central and Eastern Europe,6.3252,9.204430,0.820727,63.885555,0.861536,0.190934,0.922328,1.972317
204,North Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Western Europe,5.5355,10.405703,0.820357,73.702225,0.795294,0.000227,0.626116,1.972317
205,Hong Kong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,East Asia,5.5104,10.934671,0.845969,76.771706,0.779834,0.134980,0.420607,1.972317
206,Palestinian Territories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Middle East and North Africa,4.5528,8.389223,0.825296,62.250000,0.645792,-0.162079,0.824200,1.972317

In [10]:
combined_data.to_csv('Resources/Data/combined_data.csv')

In [11]:
print(combined_data.columns)

Index(['Country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'Status', 'Lifeexpectancy',
       'AdultMortality', 'infantdeaths', 'Alcohol', 'percentageexpenditure',
       'HepatitisB', 'Measles', 'BMI', 'under-fivedeaths', 'Polio',
       'Totalexpenditure', 'Diphtheria', 'HIV/AIDS', 'GDP', 'Population',
       'thinness1-19years', 'thinness5-9years', 'Incomecompositionofresources',
       'Schooling', 'Regional indicator', 'Ladder score',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia'],
      dtype='object')

In [12]:
happiness_data=combined_data[['Country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'Lifeexpectancy',
       'AdultMortality', 'BMI','GDP', 'Population','Incomecompositionofresources',
       'Schooling', 'Regional indicator', 'Ladder score',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia']]

In [13]:
print(happiness_data.columns)

Index(['Country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'Lifeexpectancy', 'AdultMortality',
       'BMI', 'GDP', 'Population', 'Incomecompositionofresources', 'Schooling',
       'Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia'],
      dtype='object')

In [14]:
happiness_data=happiness_data.rename(columns={
'beer_servings':'Beer_Servings', 'spirit_servings':'Spirit_Servings', 'wine_servings':'Wine_Servings',
       'total_litres_of_pure_alcohol':'Total_L_Pure_Alcohol', 'Lifeexpectancy':'Life_Expectancy (LED)', 'AdultMortality':'Adult_Mortality', 'Incomecompositionofresources':'HDI',
       'Regional indicator':'Region', 'Ladder score':'Happiness_Score', 'Logged GDP per capita':'GDP',
       'Social support':'Social_Support', 'Healthy life expectancy':'Life_Expectancy (Happiness)',
       'Freedom to make life choices':'Freedom_Score',
       'Perceptions of corruption':'Corruption_Score', 'Ladder score in Dystopia':'Happiness (Dystopia)'
    
})
happiness_data

,Country,Beer_Servings,Spirit_Servings,Wine_Servings,Total_L_Pure_Alcohol,Life_Expectancy (LED),Adult_Mortality,BMI,GDP,Population,...,Schooling,Region,Happiness_Score,GDP,Social_Support,Life_Expectancy (Happiness),Freedom_Score,Generosity,Corruption_Score,Happiness (Dystopia)
0,Afghanistan,0.0,0.0,0.0,0.0,65.0,263.0,19.1,584.259210,33736494.0,...,10.1,South Asia,2.5669,7.462861,0.470367,52.590000,0.396573,-0.096429,0.933687,1.972317
1,Albania,89.0,132.0,54.0,4.9,77.8,74.0,58.0,3954.227830,28873.0,...,14.2,Central and Eastern Europe,4.8827,9.417931,0.671070,68.708138,0.781994,-0.042309,0.896304,1.972317
2,Algeria,25.0,0.0,14.0,0.7,75.6,19.0,59.5,4132.762920,39871528.0,...,14.4,Middle East and North Africa,5.0051,9.537965,0.803385,65.905174,0.466611,-0.121105,0.735485,1.972317
3,Andorra,245.0,138.0,312.0,12.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,217.0,57.0,45.0,5.9,52.4,335.0,23.3,3695.793748,2785935.0,...,11.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,Taiwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,East Asia,6.4554,10.775685,0.894309,69.599998,0.771530,-0.073199,0.731883,1.972317
203,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Central and Eastern Europe,6.3252,9.204430,0.820727,63.885555,0.861536,0.190934,0.922328,1.972317
204,North Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Western Europe,5.5355,10.405703,0.820357,73.702225,0.795294,0.000227,0.626116,1.972317
205,Hong Kong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,East Asia,5.5104,10.934671,0.845969,76.771706,0.779834,0.134980,0.420607,1.972317
206,Palestinian Territories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Middle East and North Africa,4.5528,8.389223,0.825296,62.250000,0.645792,-0.162079,0.824200,1.972317

In [15]:
happiness_data.to_csv('Resources/Data/happiness_data.csv')